#dropDown_outer {
    position: absolute;
    top: 4.3rem;
    right: 4rem;
    width: 150px;
    padding: 15px;

}

#dropDown {
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 15px;
    text-align: center;

}

#dropDown::before {
    content: "";
    position: absolute;
    top: 0.40rem;
    right: 4.3rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

#dropDown>p:hover {
    background-color: rgb(220, 220, 220);
}

#img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    margin-left: 20px;
}

#img>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}